# **CSMODEL -  Project 1**
**Section:** ***S14*** <br>
**Group Number:** ***6*** <br>
**Contributors:** ***Gregorio, Manuel, Palmares***


---
## **Introduction**


---
## **Import Libraries**

In [2]:
# Importing libraries
import numpy as np
import pandas as pd

---

## **Dataset Representation**

- State the name of the dataset. Describe the structure of the dataset file. How
many observations are there in the dataset? How many variables are there in the
dataset?
- Discuss the observations in the dataset file. What does each observation
represent? Since the dataset description is not provided, the group can presume
the entity represented by each observation. For example:
    - For an association rule mining dataset, the group may presume that an
observation represents a customer transaction from a store, a list of words
in a document, and other similar examples.
    - For a clustering dataset, the group may presume that an observation
represents a song from a group of songs, an image from a group of images,
and other similar examples.
    - For a collaborative filtering dataset, the group may presume that an
observation represents a movie being rated by people, a book being rated
by readers, and other similar examples.
- Discuss the variables in the dataset file. Since the description of the dataset is
not provided, the group can presume the entity represented by each variable. For
example:
    - For an association rule mining dataset, the group may presume that a
variable represents the presence of a certain item in a customer
transaction from a store, the presence of a word in a document, and other
similar examples.
    - For a clustering dataset, the group may presume that a variable represents
a certain characteristic or feature of a song (i.e., value representing the
tempo, rhythm, pitch, and others), a certain characteristic or feature of an
image (i.e., amount of black, amount of white, and others), and other
similar examples.
    - For a collaborative filtering dataset, the group may presume that a variable
represents a rating of a specific person to a movie, a rating of a specific
reader to a book, and other similar examples.

In [12]:
# Reading dataset into DataFrame
df = pd.read_csv('Dataset9.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Columns: 301 entries, Unnamed: 0 to 299
dtypes: float64(300), int64(1)
memory usage: 235.3 KB

In [16]:
# Drop 'Unnamed: 0' column
df_clean = df.drop(['Unnamed: 0'], 1)
df_clean

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,3.0,3.0,5.0,1.0,2.0,3.0,3.0,4.0,NaN,1.0,...,NaN,1.0,4.0,3.0,NaN,5.0,5.0,3.0,3.0,3.0
1,5.0,5.0,1.0,5.0,4.0,2.0,2.0,3.0,2.0,3.0,...,3.0,1.0,4.0,1.0,4.0,5.0,5.0,3.0,5.0,2.0
2,4.0,4.0,5.0,5.0,4.0,1.0,5.0,3.0,1.0,5.0,...,2.0,NaN,4.0,5.0,2.0,1.0,NaN,1.0,5.0,4.0
3,3.0,3.0,5.0,5.0,2.0,3.0,NaN,1.0,2.0,5.0,...,5.0,4.0,3.0,1.0,3.0,NaN,5.0,NaN,5.0,4.0
4,3.0,5.0,4.0,1.0,5.0,5.0,2.0,1.0,NaN,3.0,...,NaN,2.0,NaN,2.0,4.0,5.0,1.0,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5.0,3.0,4.0,3.0,1.0,3.0,4.0,2.0,1.0,3.0,...,3.0,1.0,5.0,1.0,5.0,3.0,4.0,NaN,4.0,3.0
96,4.0,4.0,1.0,5.0,1.0,1.0,NaN,3.0,3.0,5.0,...,2.0,4.0,2.0,5.0,1.0,3.0,1.0,4.0,2.0,5.0
97,5.0,5.0,1.0,2.0,5.0,1.0,5.0,1.0,5.0,2.0,...,3.0,5.0,2.0,3.0,5.0,NaN,NaN,1.0,5.0,2.0
98,1.0,5.0,5.0,NaN,1.0,4.0,3.0,4.0,5.0,2.0,...,1.0,3.0,1.0,4.0,2.0,NaN,NaN,NaN,5.0,5.0
99,4.0,NaN,3.0,NaN,3.0,3.0,2.0,NaN,1.0,NaN,...,3.0,3.0,2.0,3.0,3.0,3.0,2.0,4.0,4.0,NaN

[//]" - Type of dataset: Collaborative Filtering
    - Could be a dataset of people rating a movie or something else
    - Values range from 1.0 to 5.0
    - Has a total of 100 observations and 300 variables
        - Could be 100 people rating 300 movies
        
The dataset used for this project has no formal name, hence it will informally be referred to as "Dataset \#9" for this notebook. It has a total of 100 observations/row and 300 variables/columns (excluding the 'Unnamed: 0' column). The dataset is comprised of integer values ranging from 1.0 to 5.0, with some observations having NaN values in some of their variables. Based on these observations, it can be assumed that this is a "Collaborative Filtering" dataset that stores the rating of users from a website on a specific piece of media (film, book, music, etc.). Each observation represents a user on the website, while each variable represents the piece of media that they may or may not have rated.

---

## **Exploratory Data Analysis**

Perform exploratory data analysis comprehensively to gain a good understanding of your
dataset. The exploratory data analysis should guide you in formulating the research
questions of the project.

In this section of the notebook, you must fulfill the following:
- Identify 2 interesting exploratory data analysis questions. Properly state the
questions in the notebook.
- Answer the EDA questions using both:
    - Numerical Summaries – measures of central tendency, measures of
dispersion, and correlation
    - Visualization – Appropriate visualization should be used. Each
visualization should be accompanied by a brief explanation.
- To emphasize, both numerical summary and visualization should be present to
answer each question. The whole process should be supported with verbose
textual descriptions of your procedures and findings.

### 2 interesting questions

- What are the highest and lowest-rated variables in the dataset in terms of their mean values?
- How many observations do the aforementioned variables have, and do they impact the mean rating of the variable in question?
    - Alternate: See the total number of "ratings" for the aforementioned variables and compare (1.0 - 5.0)

---

## **Data Mining**

Identify the correct data mining technique to apply to your chosen dataset. The
technique that you will apply should be appropriate for the dataset. Apply the data
mining technique with the provided hyperparameters and answer the provided
questions.

_For Collaborative Filtering:_
- Use the collaborative_filtering.py file from our exercises. Make sure that your code is working properly. Set k to 5.
- Perform collaborative filtering.
- Answer the question: Give the top 5 items that are most similar to the item at index 0.

---

## **Insights and Conclusions**

Clearly state your answers from the data to answer each provided question. Make sure
that all conclusions are backed up with proper data mining procedures.